.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    padding:50px;
    background-color: rgb(29, 30, 100);
    margin: 0px auto;
    color:whitesmoke;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: rgb(84, 86, 248);
    color:floralwhite;

}

.address{
    font: size 80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: rgb(21, 48, 124);
}

.tab{
    border-left:1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding:10px;
}